<h1>{{ consumption.nom }}</h1>
<h2>{{ consumption.consumption_date }}</h2>
<h3>{{ consumption.number_of }}</h3>
<h3>{{ consumption.amount }}{{ consumption.unit }}</h3>
<h3>{{ consumption.type_of }}</h3> 
<h3>{{ consumption.percentage }}</h3>    
