{% if consumptions %}
    {% for consumption in consumptions %}
    <div class="consumption">
	    <a href="{% url 'consumption:consumption' consumption.id %}">{{ consumption.consumption_date }} - {{ consumption.nom }}</a>
    </div>
    {% endfor %}
{% else %}
<div class="consumption">No consumptions</div>
{% endif %}
